body {
	background: black;
} div{
	font-size: 20px;
	line-height: 10mm;
	color: white;
} h1 {color: orange;}
h3{color: orange;}
footer{
	background: darkblue;
	font-size: 30;
} a{color: orange;}
#navbar {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#navbar li { 
    display: inline; 
}
#hn{
    color: green;
}
h2{
    color: orange;
}

#par{
    color: white;
}
#skachat{
    color: white;
    font-size: 18px;
}
#liSkachat{
    font-size: 18px;
    color: orange;
}